<html>
<head>
	<title>Gtech App</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"/></script> 
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="/static/app_hcare/meds.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script>
	$(document).ready(function() 
	{

    $( "#medid" ).autocomplete({
      source: available_meds
    });

	$('#myForm').submit(function(e){
		$.ajax({
                     type:"POST",
                     url: "process_data",
                     data : $("#myForm").serialize(),
                     success: function(the_response){
                         $('#write_response').html(the_response)
                     }
		})
		$('#medid').val('')
		e.preventDefault();
	}

	)
})

</script>
</head>


<form id="myForm" method="post">
	Medication: <input type="text" name="med" id="medid"><br>
  	<input type="submit" value="Submit">
</form>
<div id="write_response"></div>

</html>